@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CosmosDb Gallery</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap.mvc.css" />
        <link href="~/lib/lightbox/css/lightbox.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bootstrap.mvc.css" asp-append-version="true" />
        <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <bootstrap-nav-bar>
        <bootstrap-nav-bar-header>
            <bootstrap-button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" autocomplete="off">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </bootstrap-button>
            <a class="navbar-brand active" asp-controller="Pictures" asp-action="Index">Gallery</a>
        </bootstrap-nav-bar-header>
        <bootstrap-nav-bar-collapse class="navbar-collapse collapse">
            <bootstrap-nav class="navbar-nav">
                <bootstrap-nav-item class="dropdown">
                    <bootstrap-dropdown class="dropdown">
                        <bootstrap-dropdown-label id="newDropDown1a" class="btn btn-default" content="Actions "></bootstrap-dropdown-label>
                        <bootstrap-dropdown-menu labelledby="newDropDown1a">
                            <bootstrap-dropdown-menu-item><a asp-controller="Pictures" asp-action="Create">Create new</a></bootstrap-dropdown-menu-item>
                            <bootstrap-dropdown-menu-item><a asp-controller="Pictures" asp-action="DeleteAll">Remove</a></bootstrap-dropdown-menu-item>
                        </bootstrap-dropdown-menu>
                    </bootstrap-dropdown>
                </bootstrap-nav-item>
                <bootstrap-nav-item><a href="#">About</a></bootstrap-nav-item>
            </bootstrap-nav>
            @using (Html.BeginForm("Index", "Pictures", FormMethod.Get, new { @class = "navbar-form navbar-left", role = "search" }))
            {
                @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input name="filter" type="text" class="form-control" placeholder="Search image..">
                    </div>
            }
            <bootstrap-nav class="navbar-nav navbar-right">
                <bootstrap-nav-item class="dropdown">
                    <bootstrap-dropdown class="dropdown">
                        <bootstrap-dropdown-label id="newDropDown1a" class="btn btn-default" content="chsakell's Blog "></bootstrap-dropdown-label>
                        <bootstrap-dropdown-menu labelledby="newDropDown1a">
                            <bootstrap-dropdown-menu-item><a href="https://github.com/chsakell" target="_blank">GitHub</a></bootstrap-dropdown-menu-item>
                            <bootstrap-dropdown-menu-item><a href="https://twitter.com/chsakellsBlog" target="_blank">Twitter</a></bootstrap-dropdown-menu-item>
                            <bootstrap-dropdown-menu-item><a href="https://www.facebook.com/chsakells.blog/" target="_blank">Facebook</a></bootstrap-dropdown-menu-item>
                        </bootstrap-dropdown-menu>
                    </bootstrap-dropdown>
                </bootstrap-nav-item>
            </bootstrap-nav>
        </bootstrap-nav-bar-collapse>
    </bootstrap-nav-bar>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - DocumentDb.Pictures</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/lightbox/js/lightbox.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
