@using Sakura.AspNetCore;
@model IPagedList<DocumentDb.Pictures.Models.PictureItem>

@{
    ViewBag.Title = "Galery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var picture in Model)
    {
        @await Component.InvokeAsync("PictureItem", new { item = picture })
    }
</div>

<pager />

