@using Sakura.AspNetCore;
@model IPagedList<DocumentDb.Pictures.Models.PictureItem>

@{
    ViewBag.Title = "Galery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <bootstrap-alert class="alert-success alert-dismissible fade in">
        <bootstrap-alert-close><span aria-hidden="true">×</span></bootstrap-alert-close>
        @ViewBag.Message 
    </bootstrap-alert>
}

<div class="row">
    @foreach (var picture in Model)
    {
        @await Component.InvokeAsync("PictureItem", new { item = picture })
    }
</div>

<pager />

